lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_Store

pids
log
results

npm-debug.log
node_modules

.sass-cache
images
plugins
uploads
twentyfourteen/
twentyfifteen/
twentysixteen/
wp-config.php
license.txt
readme.html
wp-config-sample.php
wp-admin/install.php
wp-admin/install-helper.php
.htaccess
cache
upgrade
w3tc-config