/**
 * 13.0 - Abled Twentyfourteen Amendments
 * -----------------------------------------------------------------------------
 */

.entry-content,
.entry-summary,
.page-content,
.nav-links,
.comment-content,
.widget {
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
}

h1.site-title,
.site-title,
h2.site-description,
.site-description {
	clear: none;
	text-transform: lowercase;
}
.site-description {
	color: #fff;
	float: left;
	margin: 0;
	padding: 18px 18px 12px 18px;
	text-transform: lowercase;
}

.site:before {
	background-color: #fff;
}
.content-area {
	padding-top: 48px;
}
.paging-navigation {
	margin: 48px 10px;
}
#secondary {
	background-color: #fff;
	border-top: 0;
}
.expanded {
	display: none;
}
.compacted select {
	font-size: large;
	width: 100%;
}
.widget-title {
	border-top: 5px solid #000;
	color: #2b2b2b;
	padding-top: 8px;
}
.primary-sidebar {
	padding-top: 0;
}
.primary-sidebar .widget .widget-title {
	font-size: 14px;
}
.content-sidebar {
	border: 0;
	padding-top: 0;
}
.widget a {
	color: #24890d;
}
.primary-sidebar .widget_archive li,
.primary-sidebar .widget_categories li {
	font-size: 14px;
	font-weight: 400;
	padding: 2px 0;
}
@media screen and (min-width: 401px) {
	.compacted {
		width: 49%;
	}
	.compacted.widget_archive {
		float: left;
		padding-right: 0.5%;
	}
	.compacted.widget_categories {
		float: right;
		padding-left: 0.5%;
	}
}
@media screen and (min-width: 673px) {
	.content-sidebar {
		padding-top: 55px;
	}
}
@media screen and (min-width: 1008px) {
	.expanded {
		display: block;
	}
	.compacted {
		display: none;
	}
	.primary-sidebar{
		padding-top: 55px;
	}
}

.entry-meta,
.entry-meta a {
	color: #2b2b2b;
}
.entry-title {
	font-weight: 400;
}
.list-view .site-content .hentry {
	border-top: 0;
}
.list-view .site-content .hentry:last-child {
	margin-bottom: 48px;
}
.list-view .site-content .entry-header,
.page .entry-content,
.search .page-content {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 48px;
}
.page-header,
.archive-header {
	margin-bottom: 24px;
}
.page-title {
	font-weight: 700;
	font-size: 33px;
	line-height: 1;
	text-transform: uppercase;
}
.single .page-title {
	margin-bottom: 12px;
}
.entry-content a,
.comments-area a {
	font-weight: 600;
}
.entry-sub-head {
	text-transform: uppercase;
}
.search-box-wrapper {
	padding-left: 0;
}
.search-header,
.none-header {
	max-width: 474px;
	margin: 24px auto;
}
.search-title,
.none-title {
	font-size: 16px;
	font-weight: 900;
	line-height: 1.5;
	margin: 0;
}
.archive-title,
.search-title,
.none-title {
	text-transform: uppercase;
}
input {
	padding-right: 0;
}
@media screen and (min-width: 401px) {
	.home .hentry,
	.archive .hentry,
	.search .hentry {
		margin-bottom: 0;
	}
	.search-header,
	.none-header {
		margin: 0 auto 24px;
	}
}
@media screen and (min-width: 673px) {
	.search-header,
	.none-header {
		padding-right: 30px;
		padding-left: 30px;
	}
}
@media screen and (min-width: 1218px) {
	.search-header,
	.none-header {
		margin-right: 54px;
	}
}